source https://api.nuget.org/v3/index.json

framework auto-detect
redirects on

nuget Google.Protobuf
nuget Newtonsoft.Json
nuget lz4net

group Build
    source https://api.nuget.org/v3/index.json
    framework auto-detect
    nuget FAKE
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    nuget Google.Protobuf.Tools
    

group Test
    source https://api.nuget.org/v3/index.json
    framework auto-detect
    redirects on

    nuget Microsoft.NET.Test.Sdk
    nuget MSTest.TestAdapter
    nuget MSTest.TestFramework